
{% load static %}

<br>
<br>
<div class="container">
  <center><h3 class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Associated Colleges</h3></center>
  
  <div class="row">
    <div class="col-sm-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/sjcit.jpg' %}" alt="First slide">
                <center><b><span>SJCIT</span></center></b>
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/bgsit.jpg' %}" alt="First slide">
                <center><b><span>BGSIT</span></center></b>
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/aitckm.png' %}" alt="First slide">
                <center><b><span>AIT</span></center></b>
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/amc.jpg' %}" alt="First slide">
                <center><b><span>AMC</span></center></b>
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/bgsit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/aitckm.png' %}" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/sjcit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/bgsit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/aitckm.png' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/bgsit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/aitckm.png' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/amc.jpg' %}" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/sjcit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/bgsit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/aitckm.png' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/amc.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/bgsit.jpg' %}" alt="First slide">
              </div>
              <div class="col-sm-2">
                <img class="d-block w-100" src="{% static 'home/images/col_logo/aitckm.png' %}" alt="First slide">
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>


<hr>
